*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Noto Sans', 'Helvetica', 'Corbel', sans-serif;
    
}

html{
    scroll-behavior: smooth;
    background-color: #F7F8FA;
}

